.hero-section {
  height: 1116px;
  background: url("./../images/Group\ 12.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;

  .container {
    position: relative;
  }

  @include respondScreen("large-laptop") {
    height: 700px;
  }
  @include respondScreen("large-mobile") {
    height: 250px;
  }
}

.navbar {
  height: 140px;

  @include respondScreen("large-laptop") {
    height: auto;
    padding: 30px 0;
  }

  @include respondScreen("large-mobile") {
    height: auto;
    padding: 15px 0;
  }
}

.nav-link-container {
  width: 600px;

  .border-btn {
    font-size: 16px;
    font-weight: 500;
  }

  @include respondScreen("large-laptop") {
    width: 42%;
  }

  @include respondScreen("large-mobile") {
    justify-content: end;
  }
}

.nav-list {
  list-style-type: none;
  gap: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;

  @include respondScreen("large-mobile") {
    display: none;
  }

  li {
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in-out;

    &:hover {
      .nav-under-line {
        position: absolute;
        bottom: -8px;
        width: 25px;
        height: 6px;
        background-color: #ff007a;
        border-radius: 8px;
      }
    }
  }
}

// .hero-section::after {
//     content: '';
//     height: 100px;
//     width: 100%;
//     background: #fff;
//     position: absolute;
//     bottom: 0;
//     border-radius: 50% 50% 0 0;
// }

.hero-container {
  width: 737px;
  margin-top: 101px;
  position: relative;

  @include respondScreen("large-laptop") {
    width: 50%;
    margin-top: 50px;
  }

  @include respondScreen("large-mobile") {
    width: 80%;
    margin-top: 20px;
  }

  .title {
    font-size: 56px;
    font-weight: 800;
    line-height: 67.2px;
    color: #fff;
    text-align: center;

    @include respondScreen("large-laptop") {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
    }

    @include respondScreen("large-mobile") {
      font-size: 18px;
      font-weight: 700;
    //   line-height: 40px;
    }
  }

  .description {
    width: 471px;
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.9px;
    color: #fff;
    text-align: center;

    @include respondScreen("large-mobile") {
        width: 80%;
        font-size: 15px;
        font-weight: 500;
        display: none;
      }
  }

  .btn-group {
    gap: 33px;

    .border-btn {
      gap: 8px;
    }

    @include respondScreen("large-laptop") {
      gap: 20px;
    }
  }
}

.laptop-img {
  position: absolute;
  margin-top: 100px;
  width: 996px;
  height: 582px;
  left: 50%;
  transform: translateX(-50%);

  @include respondScreen("large-laptop") {
    width: 666px;
    height: 382px;
  }
  @include respondScreen("large-mobile") {
    width: 250px;
    height: 150px;
    // display: none;
    margin-top: 50px;
  }
}

.video-btn {
  width: 32px;
  height: 32px;

  @include respondScreen("large-laptop") {
    width: 22px;
    height: 22px;
  }
}
